@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville&display=swap');

$font__heading: 'Fjalla One', serif;
$font__main: 'comic sans ms'; // 'Libre Baskerville', sans-serif;
$font__code: 'consolas', monospace;
$font__pre: 'courier', monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__size-navbar-default: 16px;
