.main-navigation {
	@include white-space();
	//background: $color__background-alt;
	background: red;
	padding-top: 1em;
	padding-bottom: 1em;

	ul {
		//background: $color__background-alt;
		background: red;
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		ul {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 99999;
			min-width: 200px;
			width: 100%;
			flex-direction: column;
			border-radius: 5px;
			overflow: hidden;

			li {
				font-size: 0.9em;
				padding: 10px;
				border-radius: 0;
				text-align: left;
			}
		}

		li:hover > ul,
		li.focus > ul {
			display: inline-flex;
		}
	}

	li {
		width: 100%;
		flex: 1 0 0;
		padding: 5px;
		position: relative;
		border-radius: 5px;
		height: 100%;
		text-align: center;

		&:hover {
			background: lighten($color__background-alt, 5%);
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color__text-alt;

		&:hover {
			color: lighten($color__text-alt, 10%);
		}
	}
}

.menu-toggle {
	display: none;
}

/* Small menu. */
@media screen and (max-width: 37.5em) {
	.menu-toggle {
		display: block;
	}

	.main-navigation {
		&.toggled ul {
			display: flex;
			flex-direction: column;
	
			li {
				text-align: left;
			}
	
			ul {
				margin-left: 10px;
				position: relative;
				top: 0;
				left: 0;
				width: calc(100% - 10px);
			}
		}

		&:not(.toggled) ul {
			display: none;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
