body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

