body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

.custom-logo-link {

	img{
		max-width: 300px;
	}
}

header {
	text-align: center;
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
