.no-widgets .site-footer { margin-top: 0; } // removes entry footer

footer {
   @include white-space();
	font-size: 1rem;
	color: $background; // span & border color
	text-align: center;
	background-color: $colorOnBackground; // banner color
	border-top: 1px solid $background; // border not really visible
	padding: 1rem 0;

    a:link {
      display: inline-block;
        color: $background;
        padding: 0 1rem;
        transition: color 0.2s ease;
      }
      
      /* visited link */
      a:visited {
        color: $background;
      }
      
      /* mouse over link */
      a:hover {
        color: $secondary;
      }

}