name: Deploy theme to production server

on:
  pull_request:
    branches: [production]

jobs:
  trigger_webhook:
    runs-on: ubuntu-latest

    steps:
      - name: Webhook
        uses: distributhor/workflow-webhook@v2
        env:
          webhook_url: ${{secrets.PRODUCTION_WEBHOOK_URL}}
